<a href="https://colab.research.google.com/github/raquelspedroso/Filtros_dataset_python/blob/main/Filtros_dataset_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Cria dataset de teste
import pandas as pd
data = {'Gender':['m','f','f','m','f','m','m'], 'Height':[172,171,169,173,170,175,178]}
df_sample = pd.DataFrame(data)
df_sample

  Gender  Height
0      m     172
1      f     171
2      f     169
3      m     173
4      f     170
5      m     175
6      m     178

In [2]:
f_filter = df_sample['Gender'] == 'f'
print(df_sample[f_filter])

  Gender  Height
1      f     171
2      f     169
4      f     170

In [3]:
m_filter = df_sample['Gender'] == 'm'
print(df_sample[m_filter])

  Gender  Height
0      m     172
3      m     173
5      m     175
6      m     178